/* -- Global rules -- */
* {
  border: none;
  font-family: "JetbrainsMono Nerd Font";
  font-size: 15px;
  min-height: 10px;
}

window#waybar {
  background: rgba(34, 36, 54, 0.6);
}

window#waybar.hidden {
  opacity: 0.2;
}

/* - Genera rules for visible modules -- */
#custom-archicon,
#clock,
#cpu,
#memory,
#disk,
#temperature,
#tags,
#pulseaudio,
#pulseaudio-slider,
#battery,
#network,
#language {
  color: #161320;
  margin-top: 6px;
  margin-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  transition: none;
}

/* Separation to the left */
#custom-archicon,
#cpu,
#pulseaudio-slider {
  margin-left: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* Separation to the rigth */
#clock,
#temperature,
#network {
  margin-right: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* -- Specific styles -- */

/* Modules left */
#custom-archicon {
  font-size: 20px;
  color: #89B4FA;
  background: #161320;
  padding-right: 17px;
}

#clock {
  background: #ABE9B3;
}

#cpu {
  background: #96CDFB;
}

#memory {
  background: #DDB6F2;
}

#disk {
  background: #F5C2E7;
}
#temperature {
  background: #F8BD96;
}

/* Modules center */
#tags {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin: 6px 5px;
  padding: 0px 6px;
}

#tags button {
  background: transparent;
  padding: 4px 6px;
  transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
}

#tags button.occupied {
  color: #A6E3A1;
}

#tags button.focused {
  color: #89B4FA;
  padding: 6px 8px;
  text-shadow: 0 0 4px #ABE9B3;
}

#tags button:hover {
  color: #89B4FA;
}

#tags button.active:hover {}

/* Modules right */
#tray {
  background: transparent;
  border-radius: 10px;
}

#pulseaudio {
  min-width: 55px;
  color: #1A1826;
  background: #F5E0DC;
}

#pulseaudio-slider {
  color: #1A1826;
  background: #E8A2AF;
  min-width: 50px;
}

#pulseaudio-slider slider {}

#battery {
  color: #1A1826;
  background: #94E2D5;
}

#network {
  background: #CBA6F7;
  padding-right: 13px;
}

/* === Optional animation === */
@keyframes blink {
  to {
    background-color: #BF616A;
    color: #B5E8E0;
  }
}
